<h1>New Cat</h1>

<%= render 'form', action: :new, cat: @cat %>

<!-- <form action= '<%= cats_url %>' method="post">

  <label for="name">Name</label>
  <input id="name" type="text" name="cat[name]">

  <label for="birth_date">Birth Date</label>
  <input id="birth_date" type="date" name="cat[birth_date]">

  <label for="color">Color</label>
  <select id = "color" name="cat[color]">
    <option disabled selected>Select a color</option>
    <option value="black">black</option>
    <option value="white">white</option>
    <option value="orange">orange</option>
    <option value="brown">brown</option>
  </select>

  <label for="sex">Sex</label>
  <input id="sex" type="text" name="cat[sex]">

  <input type="submit" value="Add new cat">


</form> -->
